<li class="curr currency ml-0"> 
  <a class="border-none" href="#"><i class="pe-7s-medal"></i> <span class="current-currency">{{ shop.currency }}</span></a>

  {% assign currency = settings.supported_currencies | split: '|' %}
  <ul class="single-dropdown currency_dropdown">
    {% for value in currency %}
    {% assign array = value | split: ',' %}
    {% assign iso_4217 = array[0] | upcase | strip %}
    {% assign name = array[1] | strip %}
    <li data-currency="{{ iso_4217 }}" class="currency__item"><a style="cursor: pointer">{{ name }}</a></li>
    {% endfor %}
  </ul>
</li>