<div class="register-area ptb-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-12 col-lg-6 col-xl-4 ml-auto mr-auto">
        <div class="login">
          <div class="login-form-container">
            <div class="login-form">
              {% form 'reset_customer_password' %}

              {{ form.errors | default_errors }}
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

              <div class="button-box">
                <button type="submit" class="default-btn floatright">{{ 'customer.reset_password.submit' | t }}</button>
              </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>