/* Newsletter PopUp */.subscribe_area > h2, .subscribe-content > h2 {
  color: #434343;
}
.subscribe_area > p, .subscribe-content > p {
  color: #999;
}
.grid__item h1{
  color: ;
}
.subscribe-form-input {
  border: 1px solid #ddd;
  color: #ddd;
}
.subscribe-form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd !important;
}
.subscribe-form-input::-moz-placeholder { /* Firefox 19+ */
  color: #ddd !important;
}
.subscribe-form-input:-ms-input-placeholder { /* IE 10+ */
  color: #ddd !important;
}
.subscribe-form-input:placeholder { /* Firefox 18- */
  color: #ddd !important;
}
.newsletter-btn {
  background: #ec552c none repeat scroll 0 0;
  color: #fff;
}
.newsletter-btn:hover{
  background: #666666 none repeat scroll 0 0;
  color: #fff;
}
.popup_off{
  color: #ec552c;
}
.newsletter_popup_inner:before {
  background: #000;
  opacity: 0.6;
}
.form-group.subscribe-form-group p {
  color: #000;
}
/* Breadcurmb Banner */
.breadcrumbs {
  background: #ea2626 ;
    }
.breadcrumb-list > li > a {
  color: #ffffff;
}
.breadcrumb-list > li {
  color: #ffffff;
}



/* Top Bar Noticfication */

.notification-section {
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0)', GradientType=1 );
    }

.notification-pera-graph > p, .notification-pera-graph.notification-pera-graph-2 p, .notification-pera-graph-3 p {
  color: #666666;
}
.notification-btn > a, .notification-btn.notification-btn-2 a, .notification-btn-3 a {
  background-color: #ffffff;
  color: #666666;
}
.notification-btn > a:hover, .notification-btn.notification-btn-2 a:hover, .notification-btn-3 a:hover {
  background-color: #333333;
  color: #ffffff;
}
.notification-icon > button i, .notification-icon.notification-icon-2 > button i, .notification-icon-3 i {
  background-color: #ffffff;
  color: #666666;
}
.notification-icon > button i:hover, .notification-icon.notification-icon-2 > button i:hover, .notification-icon-3 i:hover {
  background-color: #333333;
  color: #ffffff;
}




/* Theme Color */
.main-menu ul li a:hover {
    color: #1b79b3;
}
.main-menu ul li .mega-dropdown-style ul li a:hover {
    color: #1b79b3;
}
.header-search button {
    color: #1b79b3;
}
.icon-cart i {
    color: #1b79b3;
}
.cart-delete > a:hover,
.cart-title h5 a:hover,
.cart-title h6 a:hover {
    color: #1b79b3;
}
.header-login ul li::after {
    background-color: #1b79b3;
}
.header-login ul li a {
    color: #1b79b3;
}
.shop-count {
    background-color: #1b79b3;
}

.slider-content-style-1 h1 {
    color: #1b79b3;
}
.slider-content-style-1 p {
    color: #1b79b3;
}
.product-action a:hover {
    background-color: #1b79b3;
    color: #fff;
}
.banner-wrapper-content2 > a:hover {
    color: #1b79b3;
}
.product-tab-list a.active h4,
.product-tab-list a h4:hover {
    color: #1b79b3;
}
.banner-wrapper3-content > a:hover {
    color: #1b79b3;
    border-bottom: 1px solid #1b79b3;
}
.menu-style-2 ul li a:hover {
    color: #1b79b3;
}
.header-contact-info li a:hover,
.electronics-login-register ul li a:hover {
    color: #1b79b3;
}
.category-menu-list ul li a:hover {
    color: #1b79b3;
}
.category-menu-list ul li .category-common ul li a:hover,
.category-menu-list ul li .category-common2 ul li a:hover {
    color: #1b79b3;
}
.category-dropdown-style ul li a:hover {
    color: #1b79b3;
}
.menu-hover .single-dropdown li a:hover,
.shop-menu .category-dropdown-style ul li a:hover {
    color: #1b79b3;
}
.electro-banner-style > a:hover {
    color: #1b79b3;
    padding-left: 5px;
}
.product-content-4 > h4 a:hover {
    color: #1b79b3;
}
.product-tab-list3 a.active h4,
.product-tab-list3 a h4:hover {
    color: #1b79b3;
    border: 1px solid #1b79b3;
}
.product-content-5 > h4 a:hover {
    color: #1b79b3;
}
.product-content-6 > h4 a:hover {
    color: #1b79b3;
}
.product-content-electro2 > h3 a:hover {
    color: #1b79b3;
}
.furniture-search form button:hover {
    color: #1b79b3;
}
.funiture-product-content > h4 a:hover {
    color: #1b79b3;
}
.sidebar-search form > button:hover {
    background-color: #1b79b3;
}
.sidebar-categories li a:hover,
.product-size li a:hover {
    color: #1b79b3;
}
.price span.new {
    color: #1b79b3;
}
.quick-view-rating i.red-star {
    color: #1b79b3;
}
.quickview-btn-cart > a {
    background-color: #1b79b3;
}
.modal-content .close:hover {
    color: #1b79b3;
}
.button-box .default-btn:hover {
    background-color: #1b79b3;
    border: 1px solid #1b79b3;
}
.table-content table td.product-name a:hover {
    color: #1b79b3;
}
.table-content table td.product-remove i:hover {
    color: #1b79b3;
}
.coupon-all input.button:hover {
    background-color: #1b79b3;
}
.cart-page-total > a:hover {
    background-color: #1b79b3;
    border: 1px solid #1b79b3;
}
.coupon-accordion h3 {
    border-top: 3px solid #1b79b3;
}
.coupon-accordion span:hover,
p.lost-password a:hover {
    color: #1b79b3;
}
.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
    background: #1b79b3 none repeat scroll 0 0;
}
.order-button-payment input:hover {
    background: #1b79b3;
    border: 1px solid #1b79b3;
}
.product-tags ul li a:hover {
    color: #1b79b3;
}
.sidebar-search form > button {
    color: #1b79b3;
}
.product-color > ul li.red {
    background: #1b79b3 none repeat scroll 0 0;
}
.shop-found > p span {
    color: #1b79b3;
}
.shop-tab a.active,
.shop-tab a:hover {
    color: #1b79b3;
}
.product-action-list-style a:hover {
    background-color: #1b79b3;
}
.details-price > span {
    color: #1b79b3;
}
.product-details-cati-tag li a:hover {
    color: #1b79b3;
}
.product-share > ul li a:hover {
    background-color: #1b79b3;
    border: 1px solid #1b79b3;
}
.product-size-style2 li a:hover {
    color: #1b79b3;
}
.scroll-single-product > a, .blog-info-wrapper-2 > h3 a:hover, .blog-meta-2 ul li a:hover {
    color: #1b79b3 !important;
}
.scroll-single-product > a:hover {
    background-color: #1b79b3;
}
.product-details5-social li a:hover {
    color: #1b79b3;
}
a.bundle-btn {
    background-color: #1b79b3;
}
.table-content.compare-style th a span {
    color: #1b79b3;
}
.table-content.compare-style th a span {
    color: #1b79b3;
}
.table-content.compare-style th a.compare-btn:hover {
    color: #1b79b3;
}
.about-logo h3 {
    background-color: #1b79b3;
}
.story-details-top > h2 span {
    color: #1b79b3;
}
#scrollUp {
    background-color: #1b79b3;
}
#exampleModal .price span.new > span.money,
#exampleModal .price span.old.main > span.money {
  color: #1b79b3;
} 
.sidebar-widget ul li.active a {color: #1b79b3;}
.swatch-element input:checked + label {
  color: #1b79b3;
}
.spr-form-input-text:focus, .spr-form-label+.spr-form-input:focus, .spr-form-input-textarea:focus,
.spr-form-contact-email .spr-form-label+.spr-form-input:focus {
  border: 1px solid #1b79b3;
}
.spr-form-input.spr-starrating .spr-icon.spr-icon-star-hover,
.spr-form-input.spr-starrating .spr-icon.spr-icon-star {
  color: #1b79b3;
}
.spr-button.spr-button-primary:hover, .spr-button.spr-button-primary:focus {
  background-color: #1b79b3;
}
.footer-widget-content li a:hover, .blog-info > h4 a:hover  {
  color: #1b79b3;
}
.section-title-2 > h4 span {
    color:  #1b79b3;
}

.shopify-payment-button .shopify-payment-button__button,.shopify-payment-button .shopify-payment-button__more-options {
    background-color: #1b79b3;
}

.banner_full_content a:hover {
  background: #1b79b3;
}



/* Typography */




@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: normal;
  src: url("//potionandtwig.com/cdn/fonts/playfair_display/playfairdisplay_n4.9cf7fc4f6a5a48eb27738cad395f0eba18922755.woff2?h1=cG90aW9uYW5kdHdpZy5jb20&h2=cG90aW9uLXR3aWcuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=d17e8bb1d5920b6e514ab65a969e9fc029ceb7068903b4a2c9d6fcf19b4b7d4c") format("woff2"),
       url("//potionandtwig.com/cdn/fonts/playfair_display/playfairdisplay_n4.8a3fef162b1f576396eb89e46872ef50eeb08158.woff?h1=cG90aW9uYW5kdHdpZy5jb20&h2=cG90aW9uLXR3aWcuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=ee8d62374b02fe51c1526b74aa754ce6a38c3ed7864b71bdfc41a064479756a9") format("woff");
}



html, body, input, textarea, button, select{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}
p{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 400;
  font-style: normal;
}/* End Typography */









