<div class="contact-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-map-wrapper">          
          {% section 'google-map' %}          
          {% section 'contact-form' %}
        </div>
      </div>    

      <div class="col-lg-4">
        {% section 'contact-location' %}
      </div>
    </div>
  </div>
</div>